[Desktop Entry]
Name=WhatsApp
Exec=vekrona-webapp whatsapp
StartupWMClass=vekrona-whatsapp
Icon=vekrona-whatsapp
Type=Application
Categories=Network;
