[Desktop Entry]
Name=Spotify
Exec=vekrona-webapp spotify
StartupWMClass=vekrona-spotify
Icon=vekrona-spotify
Type=Application
Categories=AudioVideo;Audio;
